<div ng-controller="DepartmentController" flex="100" layout="column" style="width:100%">
	
	<div flex="100" class="form-fields" style="width:80%">
		<h3>{{isUpdating ? 'Alterar' : 'Adicionar'}}</h3>
					
		<div flex="100" layout="row">
			<label flex="25">Numero: </label><input flex="50" type="number" ng-model="department.dep_number"/>
		</div>
		<div flex="100" layout="row">
			<label flex="25">Nome: </label><input flex="50" type="text" ng-model="department.name"/> 
		</div>
		<div flex="100" layout="row">
			<label flex="25">Escritorio Principal: </label><input flex="50" type="text" ng-model="department.centralOffice"/>
		</div>
		<div flex="100" layout="row">
			<label flex="25">Professor Lider: </label>
			<select flex="50" ng-model="department.profLeader"
				ng-options="professor as (professor.reg_number + ' - ' + professor.name) for professor in professors track by professor.reg_number">
			</select>
		</div>
			
		<div flex="100" layout="row">
			<button ng-click="cancel()" class="btn btn-danger" style="margin-right:3px">Cancelar</button>
			<button ng-click="save()" ng-disabled="!department.dep_number" class="btn btn-success">Confirmar</button>
		</div>
	</div>
	
	<div style="margin-top:5px">
		<h3>Departamentos</h3>
		<truers-grid items="departments" cols="cols" on-update="update" on-delete="delete"></truers-grid>
	</div>
	
</div>